/* common shared styles*/
body
{
    font-family: 'Open Sans', sans-serif;
    background-color:#FFF8F3
}
main
{
    max-width: 1140;
    
}
.btn-primary
{
    
    border-radius: 5px;
    background: #FD6E0A;
    border: 2px solid #FD6E0A;
    color: white;
    font-size: 16px;
    font-weight: 550;
    padding: 15px 35px;
}
/* nav realted styles*/
nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
nav > ul
{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
} 
/* Header Related styles*/
.header-class
{
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: 900px bottom;
    
    
}
/* Banner Related styles*/
.banner
{
   padding: 30px 280px 0px 350px;
   
   display: flex; 
   justify-content:space-around;
   align-items: center;
}
.banner p{
    font-size: 16px;
}
.banner-greeting 
{
    font-size: 25px;
}
.banner-title
{
    font-size: 35px;
}
.banner-info
{
    max-width: 500px;
}
/* Main Section Styles*/
/* About Section styles*/
.about
{
    padding:100px; 
    border-radius: 15px;
    background:#FFF8F3;;
}
.section-title
{
color:#181818 ;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.section-description
{
    display: flex;
    width: 827px;
    margin: auto;
    color:#757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.about-info-container
{
    max-width: 1140;
    display: flex;
    width: 827px;
    margin: auto;
    justify-content: space-around;
    text-align: center;  
}
.skill-container
{
    display: flex;
    margin: auto;
    gap: 60px;
    max-width: 1100px;
}
.skill-box
{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 30px rgb(231, 181, 181);
}