/* common shared styles*/
body
{
    font-family: 'Open Sans', sans-serif;
}
.btn-primary
{
    
    border-radius: 5px;
    background: #FD6E0A;
    border: 2px solid #FD6E0A;
    color: white;
    font-size: 16px;
    font-weight: 550;
    padding: 15px 35px;
}
/* nav realted styles*/
nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
nav > ul
{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
} 
/* Header Related styles*/
.header-class
{
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: 900px bottom;
    
}
/* Banner Related styles*/
.banner
{
   padding: 30px 280px 0px 350px;
   
   display: flex; 
   justify-content:space-around;
   align-items: center;
}
.banner p{
    font-size: 16px;
}
.banner-greeting 
{
    font-size: 25px;
}
.banner-title
{
    font-size: 35px;
}