/* common shared styles*/
body
{
    font-family: 'Open Sans', sans-serif;
    background-color:#1b1a1a;
    color: white;
}
main
{
    max-width: 1140;
    
}
.btn-primary
{
    
    border-radius: 5px;
    background: #FD6E0A;
    border: 2px solid #FD6E0A;
    color: white;
    font-size: 16px;
    font-weight: 550;
    padding: 15px 35px;
}
/* nav realted styles*/
nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1B1A1A;
    
}
nav > ul
{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #ffffff;
} 
/* Header Related styles*/

/* Banner Related styles*/
.banner
{
   padding: 30px 280px 0px 280px;
   background-image: url(images/header_bg.png);
   background-repeat: no-repeat;
   background-position: 770px bottom;
   background-color: #1B1A1A;
   display: flex; 
   justify-content:space-around;
   align-items: center;
}
.header-class
{
    background-color: #FFF8F3;
    
   
    
    
}
.banner p{
    font-size: 16px;
}
.banner-greeting 
{
    font-size: 25px;
}
.banner-title
{
    font-size: 35px;
}
.banner-info
{
    max-width: 500px;
}
/* Main Section Styles*/
/* About Section styles*/
.about
{
    padding:100px; 
    border-radius: 15px;
    background:#1B1A1A;
}
.i-do
{
    margin-bottom:70px ;
}
.section-title
{
color:white ;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.section-description
{
    display: flex;
    width: 827px;
    margin: auto;
    color:#757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.about-info-container
{
    max-width: 1140;
    display: flex;
    width: 827px;
    margin: auto;
    justify-content: space-around;
    text-align: center;  
}
.skill-container
{
    display: flex;
    margin: auto;
    gap: 60px;
    max-width: 1100px;
}
.skill-box
{
    background-color: black;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 30px rgb(231, 181, 181);
}
.summaryholder
{
    display:flex;
    flex-direction: row;
     margin: auto;
    gap: 40px
   ;
    max-width: 1100px;
    box-shadow: 1px 1px 30px rgb(231, 181, 181);
    padding: 40px;
    border-radius: 20px;
}
.experience
{
    
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 30px rgb(161, 233, 238);
}
.education
{
    
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 30px rgb(161, 233, 238);
}
.btn-primary1{
    border-radius: 5px;
    background: #FD6E0A;
    border: 2px solid #FD6E0A;
    color: white;
    font-size: 16px;
    font-weight: 550;
    padding: 15px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonalign
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgdiv
{
    display: flex;
    gap:20px;
}
.ftr
{
    
    max-width: 1200px;
    margin: auto;
    padding: 80px;
}
.footer-container
{
    display: flex;
    justify-content: center;
    gap: 250px;
    margin-right: 80px;
}
.footer-info
{
    max-width: 500px;
}
.input-form input, textarea
{
 display:block;
 margin-bottom: 16px;
 padding: 15px 20px;
 
 border-radius: 8px;
 width: 100%;
 border: 0;
 box-shadow: 1px 1px 15px rgb(238, 163, 161);
}


